<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rshortl</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <%- include('utils/header') %>

    <section class="main">
        <div class="gradient-box">
            <%- include('utils/form') %>
            <%- include('utils/info') %>
            <br>
            <p>Advices for the design are welcome to!! </p>
        </div>
    </section>

    <%- include('utils/footer') %>
  </div>
</section>
</body>
</html>