<div class="form-container">
  <form action="shorturl" method="post">
    <div class="inputbar">
      <input
        type="url"
        name="link"
        id="linkbar"
        placeholder="Enter the url"
        required
      />
    </div>

    <div class="submitbutton">
      <input type="submit" value="Shorten" />
    </div>
  </form>
</div>
