<div class="info .fira-sans-bold">
  <p>
    Basic free link shortener. Any issue or advice please report to:
    <a href="https://github.com/robertlc04/rshortl/issues" target="_blank"
      >Issue Reports</a
    >
  </p>
</div>
